{{ with .SecuritySchemeProviderNames -}}
const (
{{range $ProviderName := .}}
		{{- $ProviderName | ucFirst}}Scopes = "{{$ProviderName}}.Scopes"
{{end}}
)
{{end}}

{{ with .Middlewares -}}
const (
{{- range $m := . }}
		{{- $m | ucFirst}}Middleware = "{{$m}}.Middleware"
{{end}}
)
{{end}}