{{ with .SecuritySchemeProviderNames -}}
const (
{{range $ProviderName := .}}
		{{- $ProviderName | ucFirst}}Scopes = "{{$ProviderName}}.Scopes"
{{end}}
)
{{end}}

{{ with .Middlewares -}}
// MiddlewareKey defines a new type for middleware, to not use them intercheangeably with strings
type MiddlewareKey string

const (
{{- range $m := . }}
		{{- $m | ucFirst}}Middleware MiddlewareKey = "{{$m}}.Middleware"
{{end}}
)
{{end}}