type ServerOptions struct {
	BaseURL string
	BaseRouter chi.Router
	{{ with genTaggedMiddleware . -}}
	Middlewares map[MiddlewareKey]func(http.Handler) http.Handler
	{{ end -}}
	ErrorHandlerFunc   func(w http.ResponseWriter, r *http.Request, err error)
}

type ServerOption func(*ServerOptions)

// Handler creates http.Handler with routing matching OpenAPI spec.
func Handler(si ServerInterface, opts ...ServerOption) http.Handler {
	options := &ServerOptions {
		BaseURL: "/",
		BaseRouter: chi.NewRouter(),
		{{ with genTaggedMiddleware . -}}
		Middlewares: make(map[MiddlewareKey]func(http.Handler) http.Handler),
		{{ end -}}
		ErrorHandlerFunc: func(w http.ResponseWriter, r *http.Request, err error) {
			http.Error(w, err.Error(), http.StatusBadRequest)
		},
	}

	for _, f := range opts {
		f(options)
	}

	r := options.BaseRouter
	{{if . -}}
	wrapper := ServerInterfaceWrapper{
		Handler: si,
		{{ with genTaggedMiddleware . -}}
		Middlewares: options.Middlewares,
		{{ end -}}
		ErrorHandlerFunc: options.ErrorHandlerFunc,
	}
	{{- end }}

	{{ with genTaggedMiddleware . -}}
	// Operation specific middleware
	middlewares := []MiddlewareKey{
	{{- range $m := . }}
		{{ $m | ucFirst }}Middleware,
	{{- end }}
	}
	for _, m := range middlewares {
		if _, ok := wrapper.Middlewares[m]; !ok {
			panic("goapi-gen: could not find tagged middleware " + m)
		}
	}
	{{end}}

	r.Route(options.BaseURL, func(r chi.Router) {
	{{range . -}}
		r.{{.Method | lower | title }}("{{.Path | swaggerURIToChiURI}}", wrapper.{{.OperationID}})
	{{ end -}}
	})
	return r
}

func WithRouter(r chi.Router) ServerOption {
	return func(s *ServerOptions) {
		s.BaseRouter = r
	}
}

func WithServerBaseURL(url string) ServerOption {
	return func(s *ServerOptions) {
		s.BaseURL = url
	}
}

{{ with genTaggedMiddleware . -}}
func WithMiddleware(key MiddlewareKey, middleware func(http.Handler) http.Handler) ServerOption {
	return func(s *ServerOptions) {
		s.Middlewares[key] = middleware
	}
}

func WithMiddlewares(middlewares map[MiddlewareKey]func(http.Handler) http.Handler) ServerOption {
	return func(s *ServerOptions) {
		s.Middlewares = middlewares
	}
}

func WithErrorHandler(handler func(w http.ResponseWriter, r *http.Request, err error)) ServerOption {
	return func(s *ServerOptions) {
		s.ErrorHandlerFunc = handler
	}
}
{{ end -}}