{{if gt (len .EnumDefinitions) 0 }}
{{range $Enum := .EnumDefinitions}}
// Defines values for {{$Enum.TypeName}}.
var (
    Unknown{{$Enum.TypeName}} = {{$Enum.TypeName}}{}
{{range $index, $value := $Enum.Schema.EnumValues}}
	{{$index}} = {{$Enum.TypeName}}{ {{$Enum.ValueWrapper}}{{$value}}{{$Enum.ValueWrapper}} }
{{end}}
)
{{end}}
{{end}}
