{{- define "method-signature" -}}
{{ .OperationID -}}
	(ctx context.Context,
		{{- if .HasBody -}}
		respBody interface{},
		{{- end -}}
		
		{{- if typeShouldExist . -}}
		params {{ .OperationID }}ClientParams,
		{{- end -}}
		opts ...func(*http.Request) error) ({{- if .HasBody }} *ReqResponse, {{ end -}} error)
{{- end -}}